// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';



.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.alert-danger {
    font-size: 25px;
    color: #DC143C;
}

.alert-success {
    font-size: 25px;
    color: #228B22;
}

.btn-outline-secondary, .btn-outline-success {
    font-size: 20px;
}
td .btn-outline-success {
    font-size: 14px;
    color: #228B22;
}

.bi-sort-alpha-down, .bi-sort-down  {
    font-size: 14px;
    color: #228B22;
}

.bi-sort-alpha-up, .bi-sort-up {
    color: #DC143C;
}

.input-group {
    height: 10px;
}

.mx-auto {
    width: 100%;
    .btn-outline-success {
        width: 200px;
        margin-left: calc(50% - 100px);
    }
}