body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form,
li {
    list-style: none;
}

form.create {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #001923;
    height:100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form.create::before {
    content: '';
    position: absolute;
    width: 400px;
    height: 400px;
    background: linear-gradient(#ffeb3b, #9e1e63);
    border-radius: 50%;
    transform: translate(-420px, -180px);
}

form.create::after {
    content: '';
    position: absolute;
    width: 280px;
    height: 280px;
    background: linear-gradient(#2196f3, #83d8ff);
    border-radius: 50%;
    transform: translate(400px, 180px);
}

.container, .list_link {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1000px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(25px);
}

.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40%;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
    transform: skewX(-15deg);
}

.container h2 {
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 36px;
    margin-bottom: 20px;
}

.container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.container .row100 .col {
    position: relative;
    width: 90%;
    padding: 0 10px;
    margin: 30px 0 20px;
}

.container .row100 .col .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #fff;
}

.container .row100 .col .inputBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.container .row100 .col .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 22px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.container .row100 .col .inputBox input:focus + .text,
.container .row100 .col .inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}

.container .row100 .col .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
    border-radius: 2px;
    pointer-events: none;
}

.container .row100 .col .inputBox input:focus ~ .line,
.container .row100 .col .inputBox input:valid ~ .line {
    height: 100%;
}

.add {
    border: none;
    margin-left: calc(53% - 65px);
    padding: 10px 40px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    font-size: 18px;
    border-radius: 2px;
}

.show {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 10vh;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    cursor: pointer;
}

.btn_create {
    width: 80%;
    height: 80px;
    margin-left: calc(50% - 40%);
    font-size: 40px;
}

.btn_create:hover {
    background-color: green;
}

.btn_edit:hover {
    background-color: yellow;
}

.btn_add:hover {
    background-color: green;
}

.btn_del:hover {
    background-color: crimson;
}

.list_link {
    text-align: center;
    padding: 20px;
    font-size: 40px;
    color: #fff;
}

.list_link:hover {
    backdrop-filter: blur(5000px);
}

.content-table {
    border-collapse: collapse;
    margin-top: 50px;
    margin-left: calc(50% - 40%);
    width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
  }

  .alert-success, .alert-deleted, .alert-deduct, .alert-fundsSuccess {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      background-color: #009879;
      font-size: 40px;
  }

  .alert-error, .alert-fundsError {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: crimson;
    font-size: 40px;
}

.sort {
    margin-left: 10px;
    font-size: 20px;
}

.reset {
    width: 100px;
    height: 50px;
    margin-top: 20px;
    margin-left: calc(50% - 50px);
    font-size: 25px;
}